{% doc %}
  Renders a divider block with configurable style and spacing.

  @example
  {% render 'divider', block: block %}
{% enddoc %}

<div class="divider-wrapper {{ block.settings.spacing }}" {{ block.shopify_attributes }}>
  <div class="divider {{ block.settings.divider_style }} {{ block.settings.divider_color }}">
    {% if block.settings.text != blank %}
      {{ block.settings.text }}
    {% endif %}
  </div>
</div>

